.columnas {
    border-radius: 0.5em;
    padding: 1.5em;
    background: #fff;
    height: 30vw;
    margin: 0.5em;
    h3 {
        input {
            border: none;
            color: #757575;
            width: 80%;
        }
    }
}